body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(45deg, #f9d616, #062b5b); */
  background-color: rgb(108, 108, 108);
  color: white;
}
.container {
  width: 350px;
}

#controls {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}
#controls #play {
  width: 50px;
  text-align: center;
}

#controls i {
  font-size: 30px;
  color: #062b5b;
  margin-right: 20px;
  transition: all 0.8s ease;
}
#controls i:hover {
  color: #f9d616;
}

#progress {
  margin: 10px 0 10px 0;
}

#progress .progress-bar {
  width: 100%;
}

#progress .times {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
}

#progress .times .curent-time {
}

#progress .times .duration {
}

#music-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
