:root {
  --primary: #6610f2;
}

.top-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn-light {
  background-color: #fff;
  border-bottom: #dee2e6;
  color: #212529;
}

.bg-primary,
.btn-primary {
  background-color: var(--primary) !important;
}

.navbar-brand i,
.btn-light i {
  color: var(--primary);
}

a,
span,
i {
  cursor: pointer;
}
