:root {
  --primary: #6610f2;
}

.top-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn-light {
  background-color: #fff;
  border-bottom: #dee2e6;
  color: #212529;
}

.bg-primary,
.btn-primary {
  background-color: var(--primary) !important;
}

.navbar-brand i,
.btn-light i {
  color: var(--primary);
}

.navbar-brand a {
  text-decoration: none;
  color: var(--primary);
}

a,
span,
i {
  cursor: pointer;
}

.slider_nav {
  max-height: 250px;
}

@media (min-width: 1200px) {
  .slider_nav {
    max-height: 300px;
  }
}

@media (min-width: 1400px) {
  .slider_nav {
    max-height: 350px;
  }
}

.img-wrap {
  position: relative;
  padding: 1.5rem;
}

.img-wrap .badge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.75rem;
}

.info-wrap {
  padding: 0.5rem;
}

.info-wrap .title {
  display: block;
  text-decoration: none;
  color: #212529;
}

.price-wrap .price-discount {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--primary);
}

.price-wrap .price {
  font-size: 0.875rem;
  color: #6c757d;
  text-decoration: line-through;
}

.img-wrap {
  height: 240px;
  text-align: center;
}

.img-wrap img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.producks .card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.breadcrumb a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb .breadcrumb-item {
  color: white;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: white;
  opacity: 0.8;
}

/* gallery */
.gallery-wrap .img-big-wrap {
  width: 100%;
  height: 400px;
  margin-bottom: 1rem;
  text-align: center;
}

.gallery-wrap .img-big-wrap img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.gallery-wrap .thumbs-wrap {
  text-align: center;
}

.gallery-wrap .thumbs-wrap a {
  width: 60px;
  height: 60px;
  border: 1px solid #dde2e6;
  border-radius: 0.4rem;
  margin: 3px;
  display: inline-block;
  overflow: hidden;
}

.gallery-wrap .thumbs-wrap img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
  cursor: zoom-in;
}
