:root {
  --primary: #6610f2;
}

.top-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn-light {
  background-color: #fff;
  border-bottom: #dee2e6;
  color: #212529;
}

.bg-primary,
.btn-primary {
  background-color: var(--primary) !important;
}

.navbar-brand i,
.btn-light i {
  color: var(--primary);
}

a,
span,
i {
  cursor: pointer;
}

.slider_nav {
  max-height: 250px;
}

@media (min-width: 1200px) {
  .slider_nav {
    max-height: 300px;
  }
}

@media (min-width: 1400px) {
  .slider_nav {
    max-height: 350px;
  }
}

.img-wrap {
  position: relative;
  padding: 1.5rem;
}

.img-wrap .badge {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 0.75rem;
}

.info-wrap {
  padding: 0.5rem;
}

.info-wrap .title {
  display: block;
  text-decoration: none;
  color: #212529;
}

.price-wrap .price-discount {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--primary);
}

.price-wrap .price {
  font-size: 0.875rem;
  color: #6c757d;
  text-decoration: line-through;
}
