body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 400px;
}

#progress .times,
.card-footer,
.volume-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#music-image {
  width: 100%;
  height: 210px;
  object-fit: cover;
}
